.main{
    margin-top:1px !important;
    height: auto;
}
.fullWidth{
    height: 100% !important;
}
.radio{
    color:rgb(67,160,71) !important;
}
.typText {
    line-height: 46px !important;
    padding:0px 8px;
}

.headerBlock{
    text-align: center;
    padding:10px 0;
}

.buttonContainer{
    text-align: center;
    padding: 10px 0;
}

.disabledButton{
    color:white !important;
    background:grey !important;
    width:60%;
    max-width: 300px;
    min-width: auto;
    
}

.buttonStart{
    color:white !important;
    background:rgb(67,160,71) !important;
    width:60%;
    max-width: 300px;
    min-width: auto;
}