.link{
    width:auto;
    margin:-3px 10px;
    font-size:20px;
    padding: 21px 15px 22px 15px;
    white-space: nowrap;
}

.link:hover{
    background:rgb(0,93,185);
    cursor: pointer;
}

.currentPath{
    font-weight: 500;
    background:rgb(0,93,185);
}