.headerBlock{
    font-size:22px !important;
    padding:20px;
}
.vocTitle{
    font-size:20px !important;
    text-align: center;
    padding:10px;
    font-weight: 500 !important;
    border-bottom: 1px solid rgb(193,193,193,0.5);
}

.vocDescription{
    font-size:18px !important;
    padding:15px 5px !important;
}

.row{
    font-size:18px !important;
    padding: 2px 5px;
}
.stars{
    position: relative ;
    top:8px;
}
.mainBlock{
    margin:0 110px !;
}
.date{
    font-size:14px;
    position: absolute;
    top:1px;
    right:5px;
    color:grey;
}
.vocBlock{
    padding:10px;
    position: relative;
}
.buttons{
    margin-top:10px !important;
    display:flex;
    justify-content: space-between;
}

.buttonLook{
    background:rgb(25,118,210) !important;
    color:white !important;
}

.buttonAdd{
    background:rgb(67,160,71) !important;
    color:white !important;
}