.vocBlock{
    width:auto;
}
.rightBlock{
    display:flex;

}
.wordsCount span{
    line-height: 50px;
    padding-right:7px;
}

.editForm{
    display:flex;
    margin-left:-5px;
}
.paginator{
    margin-top:10px;
    margin-left:-5px;
}

.inputBlock{
    width:100% !important;
}

.inputBlock input{
    width:275px !important;
}