@media (max-width:960px){
    .gameBlock{
        font-size:18px;
    }  

    .true, .true td{
        font-size:14px;
        padding:10px !important;
    }

    .false, .false td{
        font-size:14px;
        padding:10px !important;
    }
}

.true, .true td{
    background:rgb(81,193,87);
    color:white;
}
.false, .false td{
    background:rgb(244,67,54);
    color:white;
}