.header{
    width:100%;
    height:60px;
    background:rgb(25,118,210);
    box-shadow: 0 0.2px 3px black;
    display:flex;
    color:white;
    font-size:22px;
    line-height: 52px;
}

.title{
    width:200px;
}

.title span{
    font-size:28px;
    line-height: 52px;
    padding-left:30px;
}
.navs{
    display: flex;
    width:calc(100% - 230px);
    justify-content:space-between;
}

nav{
    display:flex;
    width:auto;
    margin-left:10%;
    justify-content:space-between;
}

.avatar {
    width:50px !important;
    height: auto !important;
    margin:5px 10px;
}
.avatar:hover{
    cursor: pointer;
}
.avatarMenu{
    margin-top:30px;
}
.logoutButton{
    color:red;
    cursor: pointer;
}