.header{
    background:rgb(25,118,210) !important;
    position: relative !important;
}

.title{
    width:200px;
}
.helpBlock{
    width: 100px;
}
.flexBlock{
    display: flex;
    justify-content: space-between;
}
.logo{
    white-space: nowrap;
    font-size:26px !important;
}

.nav{
    height: 64px !important;
    display:flex;
    width:auto;
    justify-content:space-between;
}

.avatar {
    width:50px !important;
    height: auto !important;
    margin:5px 10px;
}
.avatar:hover{
    cursor: pointer;
}
.avatarMenu{
    margin-top:30px;
}
.logoutButton{
    color:red;
    cursor: pointer;
}
.burgerItem{
    width:240px !important;
}
.burgerItem a{
    color:black;
}