.gameBlock{
    padding:20px 15px;
}
.block{
    padding:15px;
}
.questBlock{
    display:flex ;
    height: 200px ;
    padding:15px ;
}
.input{
    width:auto;
    margin:0 10px;
}
.input input{
    text-align: center;
    font-size:23px;
}

.buttonStart{
    color:white !important;
    background:rgb(67,160,71) !important;
    margin-left:10px !important;
}

@media (max-width: 959px) {
    .questBlock {
      display:block;
    }

    .input{
        width:100%;
        margin-top:20px !important;
    }

    .buttonStart{
        margin-top:30px !important;
        margin-left:0px !important;
        width:100%;
        height: 50px;
    }
}

